div{
	background-color: green;
	color: aqua;
	
}

p{
	background-color: red;
	color:white;
}

.h33{
	background-color: black;
	color: black; 
	background-image: url(img/0823dd54564e9258dbbe38929382d158cdbf4ec7.jpg);
	height: 100px;
	
}